@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+15&family=Outfit:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&family=Jersey+15&family=Outfit:wght@100..900&family=Pacifico&display=swap');
@import url('https://fonts.cdnfonts.com/css/pricedown');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jacquard+12+Charted&family=Jacquard+24&family=Jersey+15&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100..900&family=Pacifico&family=Rowdies:wght@300;400;700&display=swap');

*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

body{
    background-color: #7c7979;
}

#menu-h{
    list-style: none;
    padding: 0;
    background-color: rgb(60, 66, 70);
}

#menu-h li{
    display: inline;
}

#menu-h li a{
    color: #fff;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .4s;
}

#menu-h li a:hover {
    background-color: rgb(42, 123, 190);
}

.imgindex{
    display: block;
    margin: 0 auto;
}

.h2index{
    color: #fdffff;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

/* GTA 3 */

.pag2body{
    background-color: #435667;
}

.box-nav{
    background-color: #2e314a;
    padding: 15px;
    
}

.h11{
    color: red;
    text-shadow: 1px 1px 1px black;
    font-weight: bold;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 48px;
    
}

.p1{
    color: #ffffffdc;
    font-family: "Outfit", sans-serif;
    text-shadow: black;
}

.img1{
    display: block;
    margin: 0 auto;
}

.div1{
    color: #fff;
    font-size: 14px;
    text-align: right;
}

.href{
    color: rgb(0, 0, 0);
    text-shadow: rgb(243, 236, 236);
}

.href:hover{
    background-color: #1303f0;
    transition: background .4s  ;
}

/* GTA VC*/

.pag3body{
    background-color: #f3a7e8;
}

.boxnav2{
    background-color: #00e1ff;
    padding: 15px;
}

.titpg2{
    color: #efe7e7;
    text-shadow: 3px 3px 3px rgb(207, 57, 82);
    font-family: "Pacifico", cursive;
}

.p1pg2{
    color: #ffffff;
    text-shadow: 1px 1px 1px #00e1ff;
    font-size: 28px;
    font-family: "Jersey 15", sans-serif;
}

.imgpg3{
    display: block;
    margin: 0 auto;
}

.divpg3{
    color: #04517e;
    font-size: 15px;
    text-align: right;
}

.hrefpg3{
    color: #580068;
}

.hrefpg3:hover{
    background-color: #d72d7c;
    transition: background .4s  ;
}

/* GTA SA */

.pag4body{
    background-color: black;
}

.ttpg4{
    color: #060606;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 35px;
    
}

.boxnav3{
    background-color: #f0e3e3;
    padding: 15px;
    border-radius: 15px;
}

.ppg4{
    color: #fff;
    font-family: "Jacquard 24", system-ui;
    font-size: 28px;
}

.ppg42{
    color: #060606;
    font-family: "Jacquard 24", system-ui;
    font-size: 48px;
    
}

.imgpg4{
    display: block;
    margin: 0 auto;
}

.divpg4{
    color: #feffff;
    font-size: 15px;
    text-align: right;
}

.href4{
    color: #7c7979;
}

.href4:hover{
    background-color: #037c0d;
    transition: background .4s  ;
}

/* GTA V */

.pag5body{
    background-color: #a4f4ee;
}

.ttpg5{
    color: #fdfbfb;
    font-family: 'Pricedown Bl', sans-serif;
    font-size: 48px;
    text-shadow: 3px 3px 3px black;
}

.boxnav5{
    background-color: #508839;
    padding: 15px;
}

.ppg5{
    color: #041048;
    font-family: "Rowdies", sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 1px rgb(124, 121, 121);
}

.imgpg5{
    display: block;
    margin: 0 auto;
}

.crd5{
    color: #07114b;
    font-size: 15px;
    text-align: right;
}

.href5{
    color: #3f693c;
}

.href5:hover{
    background-color: #f40505;
    transition: background .4s  ;

}
    
